h1 {
    font-size: 3.5em;
	font-family: 'Indie Flower', cursive;
}
div.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-family: arial;
}
