li{
	color: violet;
	font-style: oblique;
	font-size: 100%;
	}
		#myBackground{
		background-image: url(album.jpg);
		background-repeat: no-repeat;
		background-size: contain;		
		width: 400px;
		height: 400px;
		Margin-left: auto;
		margin-right: auto;
		class: img-circle;
		}
		.trackName {
		color: red;
		font-style: oblique;
		font: arial; 
		}
		#albumName{
		font-family: 'Oswald', sans-serif; 
		}
		ul{
		font-family: 'Roboto', sans-serif;
		margin-left: 325px;
		}		
	#tablecolor tr td:nth-child(even){
		background: darkviolet;
	}
	#tablecolor tr td:nth-child(odd){
		background: violet;
	}

