h1 {
    font-size: 3.5em;
	font-family: 'Indie Flower', cursive;
}
div.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-family: arial;
}
a:visited{ 
	color: magenta;
	}
a:hover{
	font-weight: bold;
}
a:active{
			text-decoration: none;
		}
#raspberry{
	font-style: oblique;
	color: red;
	text-align: center; 
	}
#cant{
	font-style: oblique;
	color: goldenrod;
	text-align: center;
}
#blue{
	font-style: oblique;
	color: blue;
	text-align: center; 
}
#cucumber{
	font-style: oblique;
	color: green;
	text-align: center; 
}
#tan{
	font-style: oblique;
	color: orange;
	text-align: center; 
}
#rock{
	font-style: oblique;
	color: chocolate;
	text-align: center;
}
#raspberry2{
	font-style: oblique;
	color: red;
	text-align: center; 
	font-size: 25px;
	}
#cant2{
	font-style: oblique;
	color: goldenrod;
	text-align: center;
	font-size: 25px;
}
#blue2{
	font-style: oblique;
	color: blue;
	text-align: center;
	font-size: 25px;	
}
#cucumber2{
	font-style: oblique;
	color: green;
	text-align: center; 
	font-size: 25px;
}
#tan2{
	font-style: oblique;
	color: orange;
	text-align: center; 
	font-size: 25px;
}
#rock2{
	font-style: oblique;
	color: chocolate;
	text-align: center;
	font-size: 25px;
}		
#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

		
		